name: Build

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: build
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Setup Go environment
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version-file: "go.mod"
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@286f3b13b1b49da4ac219696163fb8c1c93e1200 # v6.0.0
        with:
          version: v2.0.1 # renovate: datasource=custom.goreleaser depName=goreleaser packageName=goreleaser/goreleaser
          args: build --single-target --snapshot --clean --output ./version
        env:
          GORELEASER_CURRENT_TAG: ${{ steps.draft_release.outputs.tag_name }}
      - name: Version test
        id: version
        run: echo "output=$(./version bump 0.1.0)" >> "$GITHUB_OUTPUT"
      - name: Failed
        if: ${{ steps.version.outputs.output != '0.1.1' }}
        run: |-
          exit 1
      - name: Success
        if: ${{ steps.version.outputs.output == '0.1.1' }}
        run: |-
          exit 0

  docker-build:
    name: docker build
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Build Docker image
        run: VERSION=$(git rev-parse --short HEAD) make docker-build docker-build-x-platform
      - name: Version test
        id: version
        run: |-
          echo "output=$(docker run ghcr.io/version-cli/version:latest bump 0.1.0)" >> "$GITHUB_OUTPUT"
      - name: Failed
        if: ${{ steps.version.outputs.output != '0.1.1' }}
        run: |-
          exit 1
      - name: Success
        if: ${{ steps.version.outputs.output == '0.1.1' }}
        run: |-
          exit 0
