name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  release:
    if: ${{ github.event_name == 'workflow_dispatch' }}
    permissions:
      id-token: "write"
      packages: "write"
    name: release
    runs-on: ubuntu-22.04
    outputs:
      tag_name: ${{ steps.draft_release.outputs.tag_name }}
    steps:
      - name: Checkout action code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0

      - name: Create GitHub App Token
        id: app-token
        uses: actions/create-github-app-token@31c86eb3b33c9b601a1f60f98dcbfd1d70f379b4 # v1.10.3
        with:
          app-id: ${{ secrets.VERSION_CLI_UPDATER_APP_ID }}
          private-key: ${{ secrets.VERSION_CLI_UPDATER_PRIVATE_KEY }}

      - name: Draft release
        id: draft_release
        uses: release-drafter/release-drafter@3f0f87098bd6b5c5b9a36d49c41d998ea58f9348 # v6.0.0
        with:
          disable-autolabeler: true
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@aa33708b10e362ff993539393ff100fa93ed6a27 # v3.5.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: VERSION=${{ steps.draft_release.outputs.tag_name }} make docker-push

      - name: Publish release
        uses: release-drafter/release-drafter@3f0f87098bd6b5c5b9a36d49c41d998ea58f9348 # v6.0.0
        if: steps.draft_release.outputs.tag_name != ''
        with:
          version: ${{ steps.draft_release.outputs.tag_name }}
          publish: true
          disable-autolabeler: true
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Checkout action code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0
          ref: ${{ steps.draft_release.outputs.tag_name }}

      - name: Setup Go environment
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version-file: "go.mod"

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@286f3b13b1b49da4ac219696163fb8c1c93e1200 # v6.0.0
        with:
          version: v2.0.1 # renovate: datasource=custom.goreleaser depName=goreleaser packageName=goreleaser/goreleaser
          args: release --skip=publish --clean
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          GORELEASER_CURRENT_TAG: ${{ steps.draft_release.outputs.tag_name }}

      - name: Upload files
        run: |
          gh release upload --clobber ${{ env.VERSION }} ${{ env.FILES }}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          VERSION: ${{ steps.draft_release.outputs.tag_name }}
          FILES: dist/version_*.tar.gz dist/version_*.zip dist/version_*_checksums.txt

  docs-deploy:
    runs-on: ubuntu-22.04
    if: ${{ always() }}
    needs: release
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0
      - name: Configure Git Credentials
        run: |
          git config user.name version-cli[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Install Poetry
        # renovate: datasource=github-tags depName=poetry packageName=python-poetry/poetry
        run: pipx install poetry==1.8.2
      - uses: actions/setup-python@39cd14951b08e74b54015e9e001cdefcf80e669f # v5
        with:
          python-version-file: pyproject.toml
          cache: "poetry"
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: poetry install --no-interaction
      - name: Fetch gh-pages remote changes (if any)
        run: git fetch origin gh-pages --depth=1
      - name: Deploy main docs
        if: ${{ github.event_name == 'push' && github.event.ref == 'refs/heads/main' }}
        run: poetry run mike deploy --push main
        env:
          GOOGLE_ANALYTICS_KEY: ${{ secrets.GOOGLE_ANALYTICS_KEY }}
          MKDOCS_GIT_COMMITTERS_APIKEY: ${{ github.token }}
          EXCLUDE_SHIELDS_IO_PRIVACY: true
      - name: Deploy release docs
        if: ${{ github.event_name == 'workflow_dispatch' && needs.release.result == 'success' }}
        run: |-
          FULL_TAG="${{ needs.release.outputs.tag_name }}"
          TAG=$(echo "$FULL_TAG" | sed 's/\.[0-9]*$/\.x/')
          poetry run mike deploy --push $TAG
          poetry run mike deploy --push latest
        env:
          GOOGLE_ANALYTICS_KEY: ${{ secrets.GOOGLE_ANALYTICS_KEY }}
          MKDOCS_GIT_COMMITTERS_APIKEY: ${{ github.token }}
