name: Prettier

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  prettier:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.head_ref }} # so PRs resolve to correct branch
          fetch-depth: 0 # needed for only_changed below
          persist-credentials: false
      - name: Create GitHub App Token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.VERSION_CLI_UPDATER_APP_ID }}
          private-key: ${{ secrets.VERSION_CLI_UPDATER_PRIVATE_KEY }}
      - name: Prettify code
        uses: creyD/prettier_action@8c18391fdc98ed0d884c6345f03975edac71b8f0 # v4.6
        with:
          commit_message: "Prettier"
          only_changed: True
          github_token: ${{ steps.app-token.outputs.token }}
          prettier_options: --write . # the `.` targets all files which prettier _can_ parse, and ignores all others
